body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    padding-top: 20px;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#filterButton, #refreshButton, #resetButton {
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#filterButton img, #refreshButton img, #resetButton img {
    width: 20px;
    height: 20px;
    border: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.podcast {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    position: relative;
}

.podcast img {
    max-width: 100%;
    border-radius: 5px;
}

.description {
    margin-top: 10px;
}

.episode-list {
    padding: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#modalTitle {
    text-align: center;
    margin-bottom: 20px;
}

.episode-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.episode-label-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.episode-label-div input[type="checkbox"] {
  margin-right: 10px;
}

.episode-label-div label {
  cursor: pointer;
  flex-grow: 1;
}

.episode {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.episode:hover {
  background-color: #e9e9e9;
}


.episode h4 {
    margin: 0;
    font-size: 16px;
}

.checkmark {
    position: absolute;
    top: 10px;
    right: 20px;
    color: green;
    font-size: 40px;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#markAllButton {
  position: absolute;
  top: 28px;
  left: 28px;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#markAllButton:hover {
  background-color: #0056b3;
}
